# Private Files
packages/*
Cluster_Hadoop/DataNode/binaries/hadoop/*
Cluster_Hadoop/DataNode/binaries/jdk/*
Cluster_Hadoop/NameNode/binaries/hadoop/*
Cluster_Hadoop/NameNode/binaries/jdk/*
CoordinationDistributedEnvironments/ApacheZookeeper/binaries/jdk/*
CoordinationDistributedEnvironments/ApacheZookeeper/binaries/apache-zookeeper-3.7.1-bin.tar.gz
ETL/ApacheNifi/binaries/apache-nifi/*
ETL/ApacheNifi/binaries/jdk/*
ETL/StreamSet/binaries/*
messaging-layer/ApacheKafka/binaries/apache-kafka/*
messaging-layer/ApacheKafka/binaries/jdk/*
streaming-layer/ApacheFlume/binaries/apache-flume/*
streaming-layer/ApacheFlume/binaries/jdk/*

# VSCode
.vscode/*

# Local History for Visual Studio Code
.history/