# Private Files
packages/*

Cluster_Hadoop/DataNode/binaries/hadoop/*
Cluster_Hadoop/DataNode/binaries/jdk/*
Cluster_Hadoop/NameNode/binaries/hadoop/*
Cluster_Hadoop/NameNode/binaries/jdk/*
!Cluster_Hadoop/DataNode/binaries/hadoop/index.md
!Cluster_Hadoop/DataNode/binaries/jdk/index.md
!Cluster_Hadoop/NameNode/binaries/hadoop/index.md
!Cluster_Hadoop/NameNode/binaries/jdk/index.md

CoordinationDistributedEnvironments/ApacheZookeeper/binaries/jdk/*
!CoordinationDistributedEnvironments/ApacheZookeeper/binaries/jdk/index.md

ETL/ApacheNifi/binaries/apache-nifi/*
ETL/ApacheNifi/binaries/jdk/*
!ETL/ApacheNifi/binaries/apache-nifi/index.md
!ETL/ApacheNifi/binaries/jdk/index.md

collaborative-data-hub/JupyterHub/binaries/*
!collaborative-data-hub/JupyterHub/binaries/index.md
collaborative-data-hub/JupyterHub/binaries/jdk/*
!collaborative-data-hub/JupyterHub/binaries/jdk/index.md

file-transfer-protocol/FTP/binaries/*
!file-transfer-protocol/FTP/binaries/index.md

file-transfer-protocol/SFTP/binaries/*
!file-transfer-protocol/SFTP/binaries/index.md

ETL/StreamSet/binaries/jdk/*
!ETL/StreamSet/binaries/jdk/index.md
ETL/StreamSet/binaries/StreamSetsDataCollector/*
!ETL/StreamSet/binaries/StreamSetsDataCollector/index.md

messaging-layer/ApacheKafka/binaries/apache-kafka/*
messaging-layer/ApacheKafka/binaries/jdk/*
!messaging-layer/ApacheKafka/binaries/apache-kafka/index.md
!messaging-layer/ApacheKafka/binaries/jdk/index.md

processing-layer/ApacheSpark/binaries/jdk/*
processing-layer/ApacheSpark/binaries/apache-spark/*
!processing-layer/ApacheSpark/binaries/jdk/index.md
!processing-layer/ApacheSpark/binaries/apache-spark/index.md

streaming-layer/ApacheFlume/binaries/apache-flume/*
streaming-layer/ApacheFlume/binaries/jdk/*
streaming-layer/ApacheFlume/binaries/hadoop-lib/*
!streaming-layer/ApacheFlume/binaries/apache-flume/index.md
!streaming-layer/ApacheFlume/binaries/jdk/index.md
!streaming-layer/ApacheFlume/binaries/hadoop-lib/index.md

# VSCode
.vscode/*

# Local History for Visual Studio Code
.history/