# Private Files
packages/*
!packages/index.md

metastore/ApacheHive/binaries/delta-lake/*
metastore/ApacheHive/binaries/apache-hadoop/*
metastore/ApacheHive/binaries/apache-hive/*
metastore/ApacheHive/binaries/jdk/*
metastore/ApacheHive/binaries/mysql/*
metastore/ApacheHive/binaries/mysql/mysql-connector/*
!metastore/ApacheHive/binaries/delta-lake/index.md
!metastore/ApacheHive/binaries/apache-hive/index.md
!metastore/ApacheHive/binaries/apache-hadoop/index.md
!metastore/ApacheHive/binaries/jdk/index.md
!metastore/ApacheHive/binaries/mysql/index.md
!metastore/ApacheHive/binaries/mysql/mysql-connector/index.md
!metastore/ApacheHive/binaries/mysql/mysql-connector/mysql-connector-j-8.0.31.jar

cluster-hadoop/DataNode/binaries/hadoop/*
cluster-hadoop/DataNode/binaries/jdk/*
cluster-hadoop/NameNode/binaries/hadoop/*
cluster-hadoop/NameNode/binaries/jdk/*
!cluster-hadoop/DataNode/binaries/hadoop/index.md
!cluster-hadoop/DataNode/binaries/jdk/index.md
!cluster-hadoop/NameNode/binaries/hadoop/index.md
!cluster-hadoop/NameNode/binaries/jdk/index.md

CoordinationDistributedEnvironments/ApacheZookeeper/binaries/jdk/*
!CoordinationDistributedEnvironments/ApacheZookeeper/binaries/jdk/index.md

ETL/ApacheNifi/binaries/apache-nifi/*
ETL/ApacheNifi/binaries/jdk/*
!ETL/ApacheNifi/binaries/apache-nifi/index.md
!ETL/ApacheNifi/binaries/jdk/index.md

collaborative-data-hub/JupyterHub/binaries/*
!collaborative-data-hub/JupyterHub/binaries/index.md
collaborative-data-hub/JupyterHub/binaries/jdk/*
!collaborative-data-hub/JupyterHub/binaries/jdk/index.md

file-transfer-protocol/FTP/binaries/*
!file-transfer-protocol/FTP/binaries/index.md

file-transfer-protocol/SFTP/binaries/*
!file-transfer-protocol/SFTP/binaries/index.md

ETL/StreamSets/binaries/jdk/*
!ETL/StreamSets/binaries/jdk/index.md
ETL/StreamSets/binaries/StreamSetsDataCollector/*
!ETL/StreamSets/binaries/StreamSetsDataCollector/index.md

messaging-layer/ApacheKafka/binaries/apache-kafka/*
messaging-layer/ApacheKafka/binaries/jdk/*
!messaging-layer/ApacheKafka/binaries/apache-kafka/index.md
!messaging-layer/ApacheKafka/binaries/jdk/index.md

processing-layer/ApacheSpark/binaries/jdk/*
processing-layer/ApacheSpark/binaries/apache-spark/*
!processing-layer/ApacheSpark/binaries/jdk/index.md
!processing-layer/ApacheSpark/binaries/apache-spark/index.md

streaming-layer/ApacheFlume/binaries/apache-flume/*
streaming-layer/ApacheFlume/binaries/jdk/*
streaming-layer/ApacheFlume/binaries/hadoop-lib/*
!streaming-layer/ApacheFlume/binaries/apache-flume/index.md
!streaming-layer/ApacheFlume/binaries/jdk/index.md
!streaming-layer/ApacheFlume/binaries/hadoop-lib/index.md

# VSCode
.vscode/*

# Local History for Visual Studio Code
.history/